exposure_corr_mean.fst  
README.txt              
Table_BMI.fst           
Table_Fruit_vege.fst    
Table_HbA1c.fst         
Table_LDLc.fst          
Table_Med_DM.fst        
Table_Med_HL.fst        
Table_Med_HT.fst        
Table_PA_days.fst       
Table_SBP.fst           
Table_Smoking.fst       
Table_Smoking_number.fst